<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
	    <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admin_tasks_path  %></li>
  		<li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_task_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Tasks</h2>
    <div class="inner">

 <%= grid(@tasks_grid) do |g|

  g.column :column_name => 'ID', :attribute_name => 'id' do |task|
    task.id
  end

  g.column :column_name => 'Price', :attribute_name => 'price'  do |task|
    task.price
  end

  g.column  :column_name => 'Paper Width', :attribute_name => 'width', :model_class => 'PaperFormat' do |task|
    task.paper_format.width
  end

  g.column :column_name => 'Paper Height', :attribute_name => 'height', :model_class => 'PaperFormat' do |task|
    task.paper_format.height
  end

  g.column  :column_name => 'Printer Type', :attribute_name => 'name', :model_class => 'PrinterType', :custom_filter => PrinterType.to_dropdown  do |task|
    task.printer_type.name
  end

  g.column :column_name => 'Paper Type', :attribute_name => 'paper_type_id', :custom_filter => PaperType.to_dropdown do |task|
    task.paper_type.name
  end

 g.column   do |task|
    link_to('Edit', edit_admin_task_path(task))
 end

end -%>

      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
