%h3 Просмотр печатного устройства
%p
  %b Название печатного устройства:
  = h @printer_type.name

%p
  = link_to 'Редактирование', edit_admin_printer_type_path(@printer_type)
  |
  = link_to 'К списку', admin_printer_types_path
