.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active
        = link_to t("web-app-theme.list"), admin_paper_prices_path
      %li
        = link_to t("web-app-theme.new"), new_admin_paper_price_path
  .content
    %h2.title
      = t 'site.paper_price.nominative.many'
    .inner

      = grid(@tasks_grid) do |g|
        - g.column :column_name => 'ID', :attribute_name => 'id' do |task|
          - task.id
        - g.column :column_name => 'Price', :attribute_name => 'price' do |task|
          - task.price
        - g.column  :column_name => 'Paper Width', :attribute_name => 'width', :model_class => 'PaperFormat' do |task|
          - task.paper_format.width
        - g.column :column_name => 'Paper Height', :attribute_name => 'height', :model_class => 'PaperFormat' do |task|
          - task.paper_format.height
        - g.column :column_name => 'Printer Type', :attribute_name => 'printer_type_id', :custom_filter => PrinterType.to_dropdown  do |task| 
          - task.printer_type.name 
        - g.column :column_name => 'Paper Type', :attribute_name => 'paper_type_id', :custom_filter => PaperType.to_dropdown do |task| 
          - task.paper_type.name
        - g.column   do |task|
          - link_to t("web-app-theme.show"), admin_paper_price_path(task)
        - g.column   do |task|
          - link_to t("web-app-theme.edit"), edit_admin_paper_price_path(task)
        - g.column   do |task|
          - link_to t("web-app-theme.delete"), admin_paper_price_path(task), :method => :delete, :confirm => t("web-app-theme.confirm")

      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
